.btn-measurements
  width: 180px

.overflow-ellipsis
  overflow: hidden
  text-overflow: ellipsis

.cat-description
  max-height: 120px


.product-card:hover
  background: $primary
  color: white
  border: none



.border-radius__8px
  border-radius: 8px

.border-radius__12px
  border-radius: 12px
